body {
	background-image: url('../images/header.jpg');
	background-repeat: no-repeat;
}

#container {
	position: relative;
	width: 1000px;
	margin-left: auto;
    margin-right: auto;
    left: -25px;
}

.header {
	position: relative;
	top: 15px;
}

#topLeftLogo {
	left: 200px;
	float: left;
}

#topLeftText {
	font-family: 'PT Sans', sans-serif;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	color: #083451;
	font-weight: lighter;
	font-size: 18px;
}

#topRightText {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #083451;
}

.about {
	float: right;
	margin-top: 4px;
	margin-right: 10px;
}

.search {
	float: right;
	margin-top: 4px;
	margin-right: 6px;
}

#magnifier {
	float: right;
	margin-top: 5px;
}

h1 {
	color: #fff;
	font-size: 100px;
	text-shadow: 0px 2px #083451;
	font-family: 'PT Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	clear: both;
}

#headline {
	position: relative;
	padding-top: 130px;
}