body {
	background-image:url('../images/header.jpg');
	background-repeat: no-repeat;
}

#container {
	position: relative;
	width: 1000px;
	margin-left: auto;
    margin-right: auto;
    left: -25px;
}

.header {
	position: relative;
	top: 15px;
}

#topLeftLogo {
	left: 200px;
	float: left;
}

#topLeftText {
	font: PT Sans;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	color: #083451;
	font-weight: lighter;
}

#topRightText {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #083451;
}

.about {
	float: right;
	margin-top: 4px;
	margin-right: 10px;
}

.search {
	float: right;
	margin-top: 4px;
	margin-right: 6px;
}

#magnifier {
	float: right;
	margin-top: 5px;
}