body {
	background-image: url('../images/header.jpg');
	background-repeat: no-repeat;
}

a:link {
	color: #A3B3BF;
}

a:hover {
	color: #106DB3;
}

#bigContainer {
	position: relative;
	width: 1000px;
	margin-left: auto;
    margin-right: auto;
    left: -25px;
}

.header {
	position: relative;
	top: 15px;
}

#topLeftLogo {
	left: 200px;
	float: left;
}

#topLeftText {
	font-family: 'PT Sans', sans-serif;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	color: #083451;
	font-weight: lighter;
	font-size: 18px;
}

#topRightText {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #083451;
}

.about {
	float: right;
	margin-top: 4px;
	margin-right: 10px;
}

.search {
	float: right;
	margin-top: 4px;
	margin-right: 6px;
}

#magnifier {
	float: right;
	margin-top: 5px;
}

h1 {
	color: #fff;
	font-size: 100px;
	text-shadow: 0px 2px #083451;
	font-family: 'PT Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	clear: both;
}

#headline {
	position: relative;
	padding-top: 130px;
}

#byLine {
	color: #083451;
	font-size: 16px;
	text-align: center;
	position: relative;
	top: -85px;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-family: 'PT Sans', sans-serif;
	color: #083451;
	font-size: 60px;
	letter-spacing:-6px;
}

#mainTextContainer {
	width: 65%;
	float: left;
	position: relative;
	padding-top: 110px;
	font-family: 'PT Sans', sans-serif;
	color: #5E686F;
}

#articleInfo {
	position: relative;
	top: -58px;
	left: 4px;
}

#mainText {
	float: left;
	font-size: 17px;
}

#blockQuoteContainer {
	border-left-width: 2px;
	border-left-color: #A3B3BF;
	border-left-style: solid;
	height: 50px;
}

#blockQuote {
	position: relative;
	top: 10px;
	right: 2px;
	color: #106DB3;
	font-size: 28px;
	margin-bottom: 44px;
}

.articleButtonIcon {
	height: 40px;
	width: 40px;
	background-color: #5E686F;
	position: relative;
	float: left;
}

#sidebar {
	width: 35%;
	float: right;
	position: relative;
	padding-top: 180px;
}

#aboutTheAuthor {
	text-align: center;
	position: relative;
	padding-top: 5px;
	float: left;
}

#author {
	font-size: 14px;
	color: #106DB3;
	top: -25px;
	margin-left: 34px;
	position: relative;
	float: left;
}

.grey {
	font-size: 14px;
	color: #A3B3BF;
}

#date {
	top: -25px;
	margin-left: 15px;
	position: relative;
	float: left;
}